.profPic{
    background: url(https://images.squarespace-cdn.com/content/v1/5cadf22816b6407bf89d8f2a/1579783500092-LTFZE86F7F2C3RLRR2EU/ke17ZwdGBToddI8pDm48kLxnK526YWAH1qleWz-y7AFZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVFUQAah1E2d0qOFNma4CJuw0VgyloEfPuSsyFRoaaKT76QvevUbj177dmcMs1F0H-0/default+profile.png);
    background-size: cover;
    height: 200px;
    width: 200px;

    border: solid 2px lightblue;
    padding: 5px;
}