.signInPage{
  text-align: center;
  background-color: white;
}

#googleButton{
  background-color: white;
  border-radius: 2%/8%;
  width: 30%;
  transition-duration: 500ms;
  transition-property: background-color;
}
#googleButton:hover{
  background-color: lightblue;
  cursor: pointer;
}

#googleButton:active{
  background-color: black;
}