.signInPage{
    text-align: center;
    background-color: white;
  }
  
  #card{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 0% 10% 0%;
  }
  
  #googleButton{
    background-color: white;
    border-radius: 2%/8%;
    width: 50%;
    transition-duration: 500ms;
    transition-property: background-color;
  }
  #googleButton:hover{
    background-color: lightblue;
    cursor: pointer;
  }
  
  #googleButton:active{
    background-color: black;
  }